{% extends 'base.html.twig' %}
{% block title %}User{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{asset('css/profil.css')}}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<div class="row py-5 px-4">
		<div class="col-md-9 mx-auto">
			<div class="bg-white shadow rounded overflow-hidden">
				<div class="px-4 pt-0 pb-4 cover">
					<div class="media align-items-end profile-head">
						<div class="profile mr-3"><img src="{{ asset('/img/avatar.png' )}}" width="130" class="rounded mb-2 img-thumbnail">
							
						</div>
						<div class="media-body mb-5 text-white">
							<h4 class="mt-0 mb-0">{{ user.name }}
								{{ user.lastName }}
							</h4>
							<p class="small mb-4">Apprenant Begreen</p>
						</div>
					</div>
				</div>
				<div class="bg-light p-4 d-flex justify-content-end text-center"></div>
				<div class="px-4 py-3">
					<h5 class="mb-3 mt-3">A propos</h5>
					<hr>
					<div class="p-4 rounded shadow-sm bg-light">
						<div class="row">
							<div class="col-sm-6">
								<p class="m-b-10 font-weight-bold">Nom</p>
								<h6 class="text-muted f-w-400">{{ user.lastName }}</h6>
								<hr>
							</div>
							<div class="col-sm-6">
								<p class="m-b-10 font-weight-bold">Prénom</p>
								<h6 class="text-muted f-w-400">{{ user.name }}</h6>
								<hr>
							</div>
							<div class="col-sm-6">
								<p class="m-b-10 font-weight-bold">Email</p>
								<h6 class="text-muted f-w-400">{{ user.email }}</h6>
								<hr>
							</div>
							<div class="col-sm-6">
								<p class="m-b-10 font-weight-bold">Ma promo</p>
								<h6 class="text-muted f-w-400">MT04</h6>
								{# {{ user.promotion }} #}
								<hr>
							</div>
      <div class="text-center">
                    <a href="{{ path('profil_edit', {'id': user.id}) }}" class="btn btn-success btn-sm mt-3 p-2 font-weight-bold ">Modifier mon profil</a>
				</div>
						</div>
                        
					</div>
              
                	</div>
				<div class="py-4 px-4">
					<div class="d-flex align-items-center justify-content-between mb-3">
						<h5 class="mb-0">Mes fiches plantes</h5>
					</div>
					<hr>
					<div class="row">
						{% for plant in plant %}
							{% for image in plant.images|slice(0,1)  %}
								<div class="col-lg-3 mb-2 pr-lg-1">
									<div  class="card m-2" style="width: 15rem;">
										<img src="{{ asset('/uploads/' ~ image.name)}}" class="card-img-top">
										<div class="card-body">
											<h5 class="card-title">{{ plant.frenchName }}</h5>
                                            <hr>
											<a href="{{ path('encyclopedie_show', {'id': plant.id}) }}" class="btn btn-success btn-sm ml-5 font-weight-bold">Voir en détail</a>
										</div>
									</div>
								</div>
							{% endfor %}
						{% endfor %}
					</div>

				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}


