{% extends 'base.html.twig' %}

{% block title %}Plant index{% endblock %}

{% block body %}
    <h1>Plant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FrenchName</th>
                <th>LatinName</th>
                <th>Family</th>
                <th>Origin</th>
                <th>Flowering</th>
                <th>Planting</th>
                <th>Maintenance</th>
                <th>Notes</th>
                <th>IsInEncyclopedia</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plant in plants %}
            <tr>
                <td>{{ plant.id }}</td>
                <td>{{ plant.frenchName }}</td>
                <td>{{ plant.latinName }}</td>
                <td>{{ plant.family }}</td>
                <td>{{ plant.origin }}</td>
                <td>{{ plant.flowering }}</td>
                <td>{{ plant.planting }}</td>
                <td>{{ plant.maintenance }}</td>
                <td>{{ plant.notes }}</td>
                <td>{{ plant.isInEncyclopedia ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('plant_show', {'id': plant.id}) }}">show</a>
                    <a href="{{ path('plant_edit', {'id': plant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('plant_new') }}">Create new</a>

    
{% endblock %}
